<div ng-controller='AppointmentController'>
    <div>
        <h3><a href='{{"#/dashboard/"+loggedIn}}'>Home</a>
        <a id= 'logout' href='' ng-controller='UserController' ng-click='logout()'>Logout</a></h3>
    </div>

    <h2>New Appointment</h2>
    <div >
        <h3 ng-model='new_appt.user'>{{loggedIn}}, please enter your appointment below</h3>
    </div>
    <form name='new_appt'
            ng-model='new_appt'>
        <div class="labeledForm">
            <label for="apptDate"> Date: &nbsp;
            </label>
            <md-datepicker class='datepickerdemoBasicUsage'
                ng-model="myDate"  type="date"
                md-placeholder="Enter date"
                md-min-date="minDate" md-max-date="maxDate"
                md-date-filter="onlyWeekdaysPredicate">
            </md-datepicker>
            <label for="apptTime"> Time: </label>
            <select name="timeSelect" ng-model="myTime">
                <option value="08:30">08:30 AM</option>
                <option value="08:00">08:00 AM</option>
                <option value="09:00">09:00 AM</option>
                <option value="09:30">09:30 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="12:00">12:00 PM</option>
                <option value="12:30">12:30 PM</option>
                <option value="13:00">01:00 PM</option>
                <option value="13:30">01:30 PM</option>
                <option value="14:00">02:00 PM</option>
                <option value="14:30">02:30 PM</option>
                <option value="15:00">03:00 PM</option>
                <option value="15:30">03:30 PM</option>
                <option value="16:00">04:00 PM</option>
                <option value="16:30">04:30 PM</option>
            </select>
            <br>
        </div>
        <br>
        <div class="labeledForm">
            <label for="Complaint">Complaint: &nbsp;<br>
            </label>
             <textarea name='new_appt'  id="complaint"  ng-model='new_appt.complaint'></textarea><br>
        </div>
        <br>
        <div style="float: right;">
            <input type='submit' ng-click="new_appointment()" value = 'Add Appointment'
                style="box-shadow: 5px 5px 3px #888888;">
            <input type='submit' value='Cancel' ng-click="new_appt = {}"
                style="box-shadow: 5px 5px 3px #888888;">
        </div>
    </form>
    <br>
    <br>
    <div id= 'errorArea' ng-model='errorArea'>
        {{errorArea.errmsg}}
    </div>

<br>

</div>
