#login {
    margin: auto
    width: 30%;
    border-style: solid;
    padding: 5px;
    display: block;
}
#filter {
    float: right;
    margin-bottom: 4px;
}
#logout {
    float: right;
}
#errorArea {
    background-color: yellow;
}
.button {
    float: right;
}
body {
    background-color: FloralWhite;
    font-family: verdana;
    padding: 10px;
    width: 80%;
}
textarea {
    width: 100%;
    border: 1px solid #333;
    padding: 4px;
}
